<!DOCTYPE html>
<html>
<head>
	<title></title>
  <style>
    body {
      margin: 0;
    }
    div {
      width: 25%;
      height: 200px;
      float: left;
      background: #aaaaaa;
    }

    #one {
      background: yellow;
      height: auto;
    }

    #three {
      background: #ffccaa;
    }

    #four {
      background: #ccaaff;
    }

    @media (max-width: 640px) {
      div {
        width: auto;
        float: none;
      }
    }
  </style>
</head>

<body>
  <div id="one">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie quam nec augue porttitor elementum. Phasellus sit amet arcu eu dui convallis consequat vitae a purus. Sed consectetur gravida accumsan. </p>

    <p>Maecenas massa nisi, sodales quis varius nec, ultricies id dolor. Morbi eros sem, feugiat sed laoreet in, hendrerit eu quam. Duis et ipsum erat, non pretium tortor. Nulla mauris risus, vulputate ut pretium vitae, laoreet non turpis.</p> 
  </div>
  <div id="two">Two</div>
  <div id="three">Three</div>
  <div id="four">Four</div>
</body>
</html>
