<!DOCTYPE html>
<html>
<head>
  <title>CSS layouts</title>
</head>
<body>

<h1>CSS layouts session</h1>

<h2>Pages explained</h2>

<ol>
  <li><a href="1-absolute.html">position:absolute</a></li>
  <li><a href="2-fixed.html">position:fixed</a></li>
  <li><a href="3-relative.html">position:relative</a></li>
  <li><a href="4-fixed-width.html">Fixed width</a></li>
  <li><a href="5-float.html">float</a></li>
  <li><a href="6-clear.html">clear</a></li>
  <li><a href="7-media.html">Media queries</a></li>
</ol>

</body>
</html>
